*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Be Vietnam Pro",sans-serif;
}

body{
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b,#312e81);
}

.card{
    width:90%;
    max-width:420px;
    padding:35px;
    border-radius:25px;
    text-align:center;
    backdrop-filter:blur(15px);
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.15);
    box-shadow:0 0 35px rgba(255,105,180,.35);
}

h1{
    color:#fff;
    font-size:32px;
    margin-bottom:20px;
}

#typing{
    color:#eee;
    line-height:1.8;
    min-height:130px;
    font-size:18px;
}

button{
    margin-top:25px;
    border:none;
    padding:14px 35px;
    border-radius:50px;
    background:#ff4d88;
    color:#fff;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    box-shadow:0 0 25px #ff4d88;
}
/* ===== Premium Effect ===== */

body{
    background: linear-gradient(-45deg,#0f172a,#1e3a8a,#7c3aed,#ec4899);
    background-size:400% 400%;
    animation:bgMove 15s ease infinite;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.welcome,
.letter,
#success{
    animation:fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

button{
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
    box-shadow:0 0 25px #ff4d88;
}

h1{
    text-shadow:0 0 20px rgba(255,255,255,.5);
}

.glass{
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.2);
}
